footer {
	background: #030303;
	color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}


.logo {
    width: 70px;
}



.fa-instagram:hover{
	color: #F56040;
}

.fa-youtube:hover{
	color: #c4302b;
}

.fa-facebook:hover{
	color: #3b5998
}

@media screen and (max-width:680px) {

	.fa-brands {
		font-size: 1.8rem;
		background: #fefefe;
		color: #888888;
		border-radius: 10px;
		width: 2.4rem;
		padding: 0.3rem 0;
	}
	
	.fa-instagram{
		color: #F56040;
	}
	
	.fa-youtube{
		color: #c4302b;
	}
	
	.fa-facebook{
		color: #3b5998;
	}
	
}