.atracoes__redes-sociais {
	display: none;
	column-gap: 1rem;
	justify-content: center;
    margin: 0.5rem;
    
}

.atracoes__lista:hover .atracoes__redes-sociais {
	display: flex;
    
}


.logo-redes {
	font-size: 1.8rem;
	background: #fefefe;
	color: #888888;
	border-radius: 10px;
	width: 2.4rem;
	padding: 0.3rem 0;
}

.logo-instagram:hover{
	color: #F56040;
}

.fa-youtube:hover{
	color: #c4302b;
}

.fa-facebook:hover{
	color: #3b5998
}

@media screen and (max-width:680px) {
	.fa-brands {
		font-size: 1.8rem;
		background: #fefefe;
		color: #888888;
		border-radius: 10px;
		width: 2.4rem;
		padding: 0.3rem 0;
	}
	
	.atracoes__redes-sociais {
		display: flex;
	}
	.fa-instagram{
		color: #F56040;
	}
	
	.fa-youtube{
		color: #c4302b;
	}
	
	.fa-facebook{
		color: #3b5998
	}
	
}