
.banner__img {
    transform: translate(-5%,0%);
    width: 111.111%; /*Retorna aos 100% da página, antes limitado pelo padding do main*/ 
}

@media screen and (min-width: 0) {
    .banner {
        padding-top: 35px;
    }   
} 
@media screen and (min-width: 640) {
    .banner {
        padding-top: 70px;
    }
} 



