.apresentacao {
    padding-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    align-items:center;
    position: relative;
}

h3 {
    font-family: 'new rocker', cursive;
    font-size: 2.5rem;
    opacity: 0.8;
}
h4 {
    font-family: 'new rocker', cursive;
    font-size: 1.75rem;
    opacity: 0.8;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

p{
    font-size: 1.1rem;
}

.apresentacao__parque-dondinho {
    background: url(../../../Img/foto-aerea-1.jpg);
    background-size: cover;
    border: 1pt solid gray;
    border-radius: 10px;
    width: 30%;
    height: 200px;
}

.apresentacao__maps {
    border: 1pt solid gray;
    border-radius: 10px;
    width: 30%;
    height: 200px;
}

@media screen and (min-width: 0px){
    .apresentacao__parque-dondinho, .apresentacao__maps {
        width: 97%;
        height: 300px;
        margin-top: 1rem;
    } 
}

@media screen and (min-width: 640px){
    .apresentacao__parque-dondinho {
        width:50%;
        height: 200px;
    } 
    .apresentacao__maps {
        width: 97%;
        height: 300px;
    }
}


@media screen and (min-width: 1030px){
   .apresentacao__parque-dondinho, .apresentacao__maps {
        width: 30%;
        height: 200px;
    }
    
    
}

