.informacoes {
    width: 50%;;
}

.informacoes__lista {
    padding: 0 25%;
    font-family: 'montserrat', sans-serif;
    list-style:inside;
}

.informacoes__item {
    margin: 0.5rem 0;
}

.informacoes__item:first-child {
    margin-top: 1rem;
}

@media screen and (min-width:0px){
    .informacoes {
        width: 100%;	
    }
}

@media screen and (min-width: 640px){
    .informacoes {
        width: 50%;	
    }
}


