.apoio {
    padding: 1rem 1rem;
    text-align: center;
}

.apoio__lista {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    align-items: center;
}

.apoio img {
    padding: 1rem 0;
    width: 120%;
}

.apoio__item___diminuir img {
    width: 80%;
}

@media screen (max-width:639px){
    .apoio {
        width: 80%; 
    }
}

@media screen and (min-width:640px){
    .apoio {
        width: 10%; 
    }
}