.patrocinio {  
    margin: 0 auto;  
    padding: 1rem;
}

.patrocinio__lista {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.patrocinio__item {
    text-align: center;
}

.patrocinio__item img {
    border-radius: 10px;
    width: 100%;
}

.patrocinio__item___diminuir img {
    width: 80%;
}



@media screen and (max-width:639px){
    .patrocinio {
        width: 80%;
        border-bottom: 1pt gray solid;
    }
    .patrocinio__item {
        width: calc(50% - 2rem);
    }
}

@media screen and (min-width:640px){
    .patrocinio {
        width: 55%; 
        border-right: 1pt gray solid;  
    }
    .patrocinio__item {
        width: calc(33.33% - 2rem);
    }
}
