.realizacao {
    margin: 0 auto;  
    padding: 1rem;  
}

.realizacao__lista {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    align-items: center;
}

.realizacao__item {
    padding: 1rem;    
    text-align: center;
    width: calc(33% - 2rem);
}

.realizacao__item img {
    border-radius: 5px;
    width: 100%;
    
}


@media screen and (max-width:639px) {
    .realizacao {
        width: 80%;
        border-bottom: 1pt gray solid;
    }
}

@media screen and (min-width:640px){
    .realizacao {
        width: 35%; 
        border-right: 1pt gray solid; 
    }
}



