.card__imagens___foto-2020-1 {
    background: url(../../Img/2020/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2020-2 {
    background: url(../../Img/2020/foto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2020-3 {
    background: url(../../Img/2020/foto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2020-4 {
    background: url(../../Img/2020/foto4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2020-5 {
    background: url(../../Img/2020/foto5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2020-6 {
    background: url(../../Img/2020/foto6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
