.card__imagens___foto-2015-1 {
    background: url(../../Img/2015/foto1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2015-2 {
    background: url(../../Img/2015/foto2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2015-3 {
    background: url(../../Img/2015/foto3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2015-4 {
    background: url(../../Img/2015/foto4.png);
    background-repeat: no-repeat;
    background-size: cover;
}