.card {
    background: #030303;
    border-radius:10px;
    color: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-titulo";
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem;
    width:80%;
}

.card-aberto {

    grid-template-areas: 
        "card-titulo"
        "card-imagem"
        "card-texto";
        grid-template-rows: 
            auto
            auto
            auto;

}



