.card__imagens___foto-2016-1 {
    background: url(../../Img/2016/foto1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2016-2 {
    background: url(../../Img/2016/foto2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2016-3 {
    background: url(../../Img/2016/foto3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__imagens___foto-2016-4 {
    background: url(../../Img/2016/foto4.png);
    background-repeat: no-repeat;
    background-size: cover;
}