.card__titulo {
    display: flex;
    vertical-align: middle;
    text-align: center;
    font-family: New Rocker, cursive;
    font-size: 2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    grid-area: card-titulo;
}

.botao-abre-card {
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
}




