.card__titulo {
    align-items: center;
    display: flex;
    font-family: New Rocker, cursive;
    font-size: 2rem;
    grid-area: card-titulo;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.botao-abre-card {
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
}




