.header__identificacao {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'New Rocker', cursive;
}

.header__titulo {
    font-size: 1.10rem;
}

.header__subtitulo {
    font-size: 1rem;
}

@media screen and (max-width:640px){
    .header__identificacao {
        display: none;
    }
    
}





